<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Service Overview</h5>
          <apx-chart
            *ngIf="chartOptions"
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [dataLabels]="chartOptions.dataLabels"
            [xaxis]="chartOptions.xaxis"
            [yaxis]="chartOptions.yaxis"
            [title]="chartOptions.title"
            [stroke]="chartOptions.stroke"
            [legend]="chartOptions.legend"
          ></apx-chart>
        </div>
      </div>
    </div>
  </div>
</div>
