<div
  class="page-wrapper"
  id="main-wrapper"
  data-layout="vertical"
  data-navbarbg="skin6"
  data-sidebartype="full"
  data-sidebar-position="fixed"
  data-header-position="fixed"
>
  <app-navbar></app-navbar>
  <div class="body-wrapper">
    <app-header></app-header>

    <!-- component -->
    <div style="margin-top: 13vh">
      <div class="row g-4">
        <div class="card p-3">
          <app-yearly-chart></app-yearly-chart>
        </div>
        <div class="card p-3">
          <app-monthly-chart></app-monthly-chart>
        </div>
        <div class="card p-3">
          <app-line-chart></app-line-chart>
        </div>
      </div>
    </div>

    <app-chatbot></app-chatbot>
  </div>
</div>
