<div
  class="page-wrapper"
  id="main-wrapper"
  data-layout="vertical"
  data-navbarbg="skin6"
  data-sidebartype="full"
  data-sidebar-position="fixed"
  data-header-position="fixed"
>
  <!-- Sidebar start -->
  <app-navbar></app-navbar>
  <!-- Sidebar end -->
  <!--  Main wrapper  start-->
  <div class="body-wrapper">
    <!--  Header Start -->
    <app-header></app-header>
    <!--  Header end -->
    <!-- container start -->
    <div class="container-fluid">
      <!-- rows 1 -->
      <!-- rows 2 -->
      <!-- rows 3 -->
      <!-- Footer Start -->
      <app-footer></app-footer>
      <!-- Footer End -->
    </div>
    <!-- container end -->
  </div>
  <!--  Main wrapper end-->
</div>
<!--  Body Wrapper end -->
