<body>
  <!--  Body Wrapper -->
  <div
    class="page-wrapper"
    id="main-wrapper"
    data-layout="vertical"
    data-navbarbg="skin6"
    data-sidebartype="full"
    data-sidebar-position="fixed"
    data-header-position="fixed"
  >
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center"
    >
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a
                  href="./index.html"
                  class="text-nowrap logo-img text-center d-block py-3 w-100"
                >
                  <img src="assets/images/logos/AUTO.svg" width="180" alt="" />
                </a>
                <p class="text-center">Care For Car</p>

                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                  <!-- Username -->
                  <div class="mb-3">
                    <label for="username" class="form-label">Name</label>
                    <input
                      type="text"
                      id="username"
                      class="form-control"
                      formControlName="username"
                    />
                    <div
                      *ngIf="
                        registerForm.get('username')?.touched &&
                        registerForm.get('username')?.invalid
                      "
                      class="text-danger mt-2"
                    >
                      Name is required.
                    </div>
                  </div>

                  <!-- Email -->
                  <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input
                      type="email"
                      id="email"
                      class="form-control"
                      formControlName="email"
                    />
                    <div
                      *ngIf="
                    registerForm.get('email')?.touched &&
                    registerForm.get('email')?.errors?.['email']
                  "
                      class="text-danger mt-2"
                    >
                      Please enter a valid email address.
                    </div>
                  </div>

                  <!-- Password -->
                  <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input
                      type="password"
                      id="password"
                      class="form-control"
                      formControlName="password"
                    />
                    <div
                      *ngIf="
                        registerForm.get('password')?.touched &&
                        registerForm.get('password')?.invalid
                      "
                      class="text-danger mt-2"
                    >
                      Password is required.
                    </div>
                  </div>

                  <!-- Error Message -->
                  <div
                    *ngIf="errorMessage"
                    class="alert alert-danger mt-3"
                    role="alert"
                  >
                    {{ errorMessage | json }}
                  </div>

                  <!-- Submit Button -->
                  <button
                    type="submit"
                    class="btn btn-primary w-100 mt-3"
                    [disabled]="registerForm.invalid"
                  >
                    Register
                  </button>

                  <div class="d-flex align-items-center justify-content-center">
                    <br><br>
                    <br><br>
                    <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
                    <a class="text-primary fw-bold ms-2" routerLink="/login"
                      >Sign In</a
                    >
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
