<app-navbar></app-navbar>
<app-my-profile></app-my-profile>

<!-- <div
  class="page-wrapper"
  id="main-wrapper"
  data-layout="vertical"
  data-navbarbg="skin6"
  data-sidebartype="full"
  data-sidebar-position="fixed"
  data-header-position="fixed"
> -->
  <!-- Main content wrapper with added padding to avoid overlap with fixed navbar/sidebar -->
  <div class="container-fluid pt-5" style="margin-left: 300px;overflow-x: hidden;">
    <div class="row"  style="display: flex; position: relative">
      <!-- Left, center, and right card columns -->
      <div class="col-md-2" >
        <h5 class="card-title fw-semibold mb-4">CUSTOM PRODUCTS</h5>
        <div class="card">
          <img src="../assets/images/products/s4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Add to cart</a>            
          </div>
        </div>
      </div>

      <div class="col-md-2" >
        <h5 class="card-title fw-semibold mb-4">CUSTOM PRODUCTS</h5>
        <div class="card">
          <img src="../assets/images/products/s4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Add to cart</a>            
          </div>
        </div>
      </div>


      <div class="col-md-2" >
        <h5 class="card-title fw-semibold mb-4">CUSTOM PRODUCTS</h5>
        <div class="card">
          <img src="../assets/images/products/s4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Add to cart</a>            
          </div>
        </div>
      </div>


      <div class="col-md-2" >
        <h5 class="card-title fw-semibold mb-4">CUSTOM PRODUCTS</h5>
        <div class="card">
          <img src="../assets/images/products/s4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Add to cart</a>            
          </div>
        </div>
      </div>
      
     



 
    </div>
  </div>
<!-- </div> -->

<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/sidebarmenu.js"></script>
<script src="../assets/js/app.min.js"></script>
<script src="../assets/libs/simplebar/dist/simplebar.js"></script>

<app-footer></app-footer>
