<div class="container py-4">
  <div class="main-body">
    <div class="row g-3">
      <!-- Use g-* for gutters -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img
                  [src]="imageUrl"
                  alt="Profile"
                  class="rounded-circle"
                  width="150"
                  height="150"
                  style="object-fit: cover"
                />
              <div class="mt-3">
                <h4>{{ name }}</h4>
                <p class="text-secondary mb-1">{{ email }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Full Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ name }}
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ email }}
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Mobile</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ mobile }}
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Address</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ address }}
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-12">
                <!-- Login and Contact Buttons -->
                <div class="button-group">
                  <button class="btn btn-primary" (click)="editProfile()">
                    Edit Profile
                  </button>
                  <button class="btn btn-secondary">Delete Account</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
