/* hero.component.css */
.hero-container {
  background-color: #ffffff;
  color: #333;
  padding: 60px 20px;
}

.hero-content {
  margin-bottom: 40px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-size: 3rem;
  color: #5d87ff;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 1.25rem;
  color: #555;
  margin-bottom: 30px;
}

/* button */
.button-group {
  display: flex;
  gap: 20px;
}

.btn {
  font-size: 1rem;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.btn-primary {
  background-color: #5d87ff;
  color: white;
}

.btn-primary:hover {
  background-color: #4b6fb3;
}

.btn-secondary {
  background-color: #f1f1f1;
  color: #333;
}

.btn-secondary:hover {
  background-color: #e0e0e0;
}

/* Brands */
.brands-section {
  background-color: #f9f9f9;
}

.brands-title {
  font-size: 2.5rem;
  color: #5d87ff;
}

.brand-logo {
  height: auto;
  margin-bottom: 60px;
}

/* section divider */
/* Add black line between sections */
.section-divider {
  border: none; /* Remove default border */
  height: 2px; /* Set height to create a thick line */
  background-color: black; /* Set line color to black */
  margin: 40px 0; /* Add margin to space it out from other content */
}

/* Fair quote */
/* fair-quote.component.css */
.fair-quote-container {
  background-color: #f9f9f9;
  padding: 40px 20px;
}

.fair-quote-content {
  margin: 0 auto;
}

.fair-quote-title {
  font-size: 4em; /* Default size for larger screens */
  color: #5d87ff;
  margin-bottom: 20px;
}

.fair-quote-description {
  font-size: 1.25rem;
  color: #555;
  margin-bottom: 30px;
}

/* Button styled like the old code */
.spl {
  background-color: #5d87ff;
  color: #fff;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .fair-quote-title {
    font-size: 2.5em; /* Adjusted for tablets and small screens */
  }

  .fair-quote-description {
    font-size: 1rem; /* Slightly smaller for better readability */
  }
}

@media (max-width: 480px) {
  .fair-quote-title {
    font-size: 2em; /* Further reduced for mobile phones */
  }

  .fair-quote-description {
    font-size: 0.9rem; /* Smaller size for mobile */
  }
}
