<div style="margin: 7%">
  <div class="d-flex align-items-stretch">
    <div class="card w-100">
      <div class="card-body p-4">
        <h5 class="card-title fw-semibold mb-4">{{ title }}</h5>
        <!-- Table for Users (Regular/Admin) -->
        <div>
          <table class="table text-nowrap mb-0 align-middle">
            <thead class="text-dark fs-4">
              <tr>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Profile</h6>
                </th>
                <th *ngFor="let column of columns" class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">{{ column | titlecase }}</h6>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <!-- Profile Image -->
                <td class="border-bottom-0">
                  <img
                    [src]="getUserImage(user)"
                    alt="User Image"
                    class="rounded-circle"
                    width="50"
                    height="50"
                  />
                </td>

                <!-- Dynamic Columns -->
                <td *ngFor="let column of columns" class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">
                    {{ user[column] || "N/A" }}
                  </h6>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
