<!-- Sidebar Start -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div>
    <!-- # Logo -->
    <div class="brand-logo d-flex align-items-center justify-content-between">
      <a href="./index.html" class="text-nowrap logo-img">
        <img src="assets/images/logos/AUTO.svg" width="180" alt="" />
      </a>
      <div
        class="close-btn d-xl-none d-block sidebartoggler cursor-pointer"
        id="sidebarCollapse"
      >
        <i class="ti ti-x fs-8"></i>
      </div>
    </div>
    <!-- # Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
      <ul id="sidebarnav">
        <!-- # Admin -->
        <div *ngIf="authService.isAdmin()">
          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Admin</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="dashboard" aria-expanded="false">
              <span>
                <i class="ti ti-layout-dashboard"></i>
              </span>
              <span class="hide-menu">Statistics</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="dashboard" aria-expanded="false">
              <span>
                <i class="ti ti-layout-dashboard"></i>
              </span>
              <span class="hide-menu">Admin List</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="user-list" aria-expanded="false">
              <span>
                <i class="ti ti-layout-dashboard"></i>
              </span>
              <span class="hide-menu">Regular Users</span>
            </a>
          </li>
        </div>
        <!-- ? Heading -->
        <li class="nav-small-cap" *ngIf="authService.isAdmin()">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Home</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="dash" aria-expanded="false">
            <span>
              <i class="ti ti-layout-dashboard"></i>
            </span>
            <span class="hide-menu">Dashboard</span>
          </a>
        </li>
        <!-- ? Heading -->
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Services</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="./ui-alerts.html" aria-expanded="false">
            <span>
              <i class="ti ti-history-toggle"></i>
            </span>
            <span class="hide-menu">Service History</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="./home" aria-expanded="false">
            <span>
              <i class="ti ti-playlist-add"></i>
            </span>
            <span class="hide-menu">Book Services</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            href="./ui-typography.html"
            aria-expanded="false"
          >
            <span>
              <i class="ti ti-receipt"></i>
            </span>
            <span class="hide-menu">Receipts</span>
          </a>
        </li>
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Log out</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="logout" aria-expanded="false">
            <span>
              <i class="ti ti-logout"></i>
            </span>
            <span class="hide-menu">Logout</span>
          </a>
        </li>
        <!-- ? Heading -->
        <li class="nav-small-cap">
          <i class="#"></i>
          <span class="hide-menu">Customer Support</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/contact" aria-expanded="false">
            <span>
              <i class="ti ti-phone-plus"></i>
            </span>
            <span class="hide-menu">Book a Call</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/review" aria-expanded="false">
            <span>
              <i class="ti ti-notebook"></i>
            </span>
            <span class="hide-menu">Feedback</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!--  Sidebar End -->
