<div class="container py-4">
  <div class="main-body">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img
                src="https://bootdey.com/img/Content/avatar/avatar7.png"
                alt="Admin"
                class="rounded-circle"
                width="150"
              />
              <div class="mt-3">
                <h4>{{ name }}</h4>
                <p class="text-secondary mb-1">Full Stack Developer</p>
                <p class="text-muted small">{{ address }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <div class="row mb-3">
              <label for="fullName" class="col-sm-3 col-form-label">Full Name</label>
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="fullName"
                  [(ngModel)]="name"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="email" class="col-sm-3 col-form-label">Email</label>
              <div class="col-sm-9">
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  [value]="email"
                  disabled
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="mobile" class="col-sm-3 col-form-label">Mobile</label>
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="mobile"
                  [(ngModel)]="mobile"
                  maxlength="10"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="address" class="col-sm-3 col-form-label">Address</label>
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="address"
                  [(ngModel)]="address"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-9">
                <button
                  type="button"
                  class="btn btn-primary px-4"
                  (click)="saveChanges()"
                >
                  Save Changes
                </button>
                <button
                  type="button"
                  class="btn btn-secondary px-4 ms-2"
                  (click)="showProfile()"
                >
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>