<div
  class="page-wrapper"
  id="main-wrapper"
  data-layout="vertical"
  data-navbarbg="skin6"
  data-sidebartype="full"
  data-sidebar-position="fixed"
  data-header-position="fixed"
>
  <!-- Sidebar start -->
  <app-navbar></app-navbar>
  <!-- Sidebar end -->
  <!--  Main wrapper  start-->
  <div class="body-wrapper">
    <!--  Header Start -->
    <app-header></app-header>
    <!--  Header end -->
    <!-- container start -->
    <div class="container-fluid">
        <!-- my profile start -->
        <!-- <app-my-profile></app-my-profile> -->
        <!-- my profile end -->
      <!-- Footer Start -->
      
      <!-- Footer End -->
    </div>
    <!-- container end -->
  </div>
  <!--  Main wrapper end-->
</div>
<!--  Body Wrapper end -->
