/* Custom styles for the AutoCare Advantages section */

/* Heading customization */
#autoCareHeading {
  font-size: 2.5rem;
  color: #5d87ff;
  margin-bottom: 30px;
}
.card {
  background-image: url("https://material.angular.io/assets/img/examples/shiba2.jpg");
}

/* Customer Testimonials Section */
.advantages {
  background-color: #f9f9f9;
  padding: 60px 20px;
}
